.form__checkbox-preference {
  display: flex;
}

.form__checkbox-text {
  margin: 0;
  font-size: 24px;
  line-height: 32.49px;
  color: rgba(73, 83, 92, 1);
  padding-top: 4px;
}

.form__checkbox {
    display: flex;
    padding: 16px;
}

.form__checkbox-input {
    display: none;

}

.form__checkbox-input:checked + .form__checkbox-state
.form__checkbox-icon {
    display: block;
}

  .form__checkbox-state {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid rgba(73, 83, 92, 1);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 4px 16px 4px 4px;
}

  .form__checkbox-icon {
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(73, 83, 92, 1);
    top: 4px;
    left: 4px;
  }

  .form__checkbox-label {
    margin: 0 32px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(73, 83, 92, 1);
}